{% extends 'base.html' %}

{% load static %}

{% block title %} Ошибка 404 {% endblock %}

{% block meta %}
<meta name="description" content="Ошибка 404: страница не найдена. Перейдите на главную страницу.">
<meta name="keywords" content="ошибка 404, страница не найдена, главная страница">
<meta name="author" content="Центр Карьеры ГК Росатом">

<link rel="canonical" href="https://career.mephi3.ru/404/">

<meta property="og:title" content="Ошибка 404: страница не найдена">
<meta property="og:description" content="Ошибка 404: страница не найдена. Перейдите на главную страницу.">
<meta property="og:url" content="https://career.mephi3.ru/404/">
<meta property="og:type" content="website">
<meta property="og:site_name" content="Центр Карьеры ГК Росатом">
<meta property="og:locale" content="ru_RU">
{% endblock %}

{% block content%}
<section class="404">
    <div class="container">
        <div class="row vh-100 align-items-center justify-content-center">
            <div class="col-sm-12 col-md-8 col-lg-6 col-xl-4">
                <div class="error-message text-center">
                    <h1>404</h1>
                    <p class="subheading">Извините, но&nbsp;страницы, которую вы&nbsp;ищете, не&nbsp;существует.</p>
                    <a href="{% url 'index' %}" class="btn btn-primary d-md-block">Перейти на домашнюю страницу</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}