.vacancies-input {
    font-size: 20px !important;
    /* padding: 15px; */
    box-shadow: none !important;
}

.job-card {
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.job-card:hover {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.job-card:hover {
    cursor: pointer;
}

.job-card-title {
    font-size: 24px;
    font-weight: bold;
}

.job-card-salary {
    margin-top: 5px;
    font-size: 18px;
    font-weight: semibold;
    color: #0d6efd;
}

.job-card-text {
    margin-top: 5px;
    display: flex;
    align-items: center;
}

.job-card-text i {
    margin-right: 5px;
}

.job-card-link {
    color: inherit;
}

.filter-input,
.form-check-input {
    font-size: 16px !important;
    box-shadow: none !important;
}

.filters {
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.filters:hover {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.filter {
    margin-bottom: 20px;
}

.filter-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}