.navbar-brand {
    color: #212529 !important;
}

.navbar-brand:hover {
    color: rgba(0,0,0,.9) !important;
}

.footer-list {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    list-style-type: none !important;
    margin: 0 !important;
    padding: 0 !important;
    gap: 20px !important;
    flex-wrap: wrap !important;
}

.footer-link {
    font-size: 14px !important;
    line-height: 20px !important;
    color: #555A65;
    white-space: nowrap !important;
}

.footer-item {
    display: flex !important;
    align-items: center !important;
}