{% extends 'base.html' %}

{% load static %}

{% block title %} Ошибка 404 {% endblock %}

{% block content%}
<section class="404">
    <div class="container">
        <div class="row vh-100 align-items-center justify-content-center">
            <div class="col-sm-12 col-md-8 col-lg-6 col-xl-4">
                <div class="error-message text-center">
                    <h1>404</h1>
                    <p class="subheading">Извините, но&nbsp;страницы, которую вы&nbsp;ищете, не&nbsp;существует.</p>
                    <a href="{% url 'index' %}" class="btn btn-primary d-md-block">Перейти на домашнюю страницу</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}