{% extends 'base.html' %}

{% load static %}

{% block title %}Карьерные мероприятия{% endblock %}

{% block meta %}
<meta name="description" content="Список карьерных мероприятий: вебинары, мастер-классы и конференции для профессионального развития.">
<meta name="keywords" content="карьерные мероприятия, вебинары, мастер-классы, конференции, профессиональное развитие, Центр Карьеры, ТИ НИЯУ МИФИ">
<meta name="author" content="Центр Карьеры ГК Росатом">

<link rel="canonical" href="https://career.mephi3.ru/events/">

<meta property="og:title" content="Карьерные мероприятия">
<meta property="og:description" content="Список карьерных мероприятий: вебинары, мастер-классы и конференции для профессионального развития.">
<meta property="og:image" content="https://career.mephi3.ru{% static 'images/events.png' %}">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
<meta property="og:image:alt" content="Изображение страницы с карьерными мероприятиями: список актуальных событий.">
<meta property="og:url" content="https://career.mephi3.ru/events/">
<meta property="og:type" content="website">
<meta property="og:site_name" content="Центр Карьеры ГК Росатом">
<meta property="og:locale" content="ru_RU">
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/events.css' %}">
{% endblock %}

{% block content %}
<section class="events py-5">
    <div class="container">
        <div class="row">
            <h1 class="display-4 mb-5">Карьерные мероприятия</h1>
        </div>

        {% if events %}
        <div class="row g-3 gx-lg-4 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center">
            {% for event in events %}
            <div class="col">
                <div class="card h-100">
                    {% if event.status.title == "Активно" %}
                    <div class="badge bg-danger text-white position-absolute" style="top: 0.5rem; left: 0.5rem;">
                        Активно
                    </div>
                    {% elif event.status.title == "Отменено" %}
                    <div class="badge bg-secondary text-white position-absolute" style="top: 0.5rem; left: 0.5rem;">
                        Отменено
                    </div>
                    {% endif %}

                    {% if event.photo %}
                    <img src="{{ event.photo.url }}" alt="{{ event.title }}" class="card-img-top" width="300"
                        height="200">
                    {% else %}
                    <img class="card-img-top" src="{% static 'images/events.png' %}" width="300" height="200" />
                    {% endif %}
                    <div class="card-body p-4">
                        <div class="text-center">
                            <h5 class="fw-bolder">{{ event.title|truncatewords:5 }}</h5>
                            <p class="text-muted">{{ event.event_date }}</p>
                            <p class="text-muted">{{ event.start_time }} &mdash; {{ event.end_time }}</p>
                            <p class="subheading">{{ event.description|striptags|truncatewords:10 }}</p>
                        </div>
                    </div>
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-primary mt-auto"
                                href="{% url 'event_detail' event.event_id %}">Подробнее</a></div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <p class="subheading text-center">Запланированных/Активных мероприятий нет, следите за&nbsp;новостями.</p>
        {% endif %}
    </div>
</section>
{% endblock %}