{% extends 'base.html' %}

{% load static %}

{% block title %} Главная {% endblock %}

{% block meta %}
<meta name="description" content="Начни свою карьеру с нами! Мы помогаем найти работу мечты, трудоустроиться и развиваться профессионально. Более 100 вакансий, 20+ компаний и множество карьерных мероприятий.">
<meta name="keywords" content="карьера, работа, вакансии, трудоустройство, стажировки, практики, карьерные мероприятия, Электрохимприбор, ФГУП, НИЯУ МИФИ">
<meta name="author" content="Центр Карьеры ГК Росатом">

<link rel="canonical" href="https://career.mephi3.ru/">

<meta property="og:title" content="Начни свою карьеру с нами">
<meta property="og:description" content="Ваша карьера — наша миссия. Мы поможем найти работу мечты и построить успешную карьеру.">
<meta property="og:image" content="https://career.mephi3.ru{% static 'images/home/5.jpeg' %}">
<meta property="og:url" content="https://career.mephi3.ru/">
<meta property="og:type" content="website">
<meta property="og:site_name" content="Центр Карьеры ГК Росатом">
<meta property="og:locale" content="ru_RU">
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content%}
<section class="hero py-3 py-sm-5">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-6 text-center text-sm-start">
                <h1 class="display-4">НАЧНИ СВОЮ КАРЬЕРУ С&nbsp;НАМИ</h1>
                <p class="subheading">Ваша карьера&nbsp;&mdash; наша миссия. Мы&nbsp;поможем найти работу мечты
                    и&nbsp;построить
                    успешную
                    карьеру.</p>

                <div class="cta d-flex flex-column">
                    <a class="btn btn-lg btn-primary" href="{% url 'vacancies' %}">
                        Смотреть вакансии
                        <i class="bi bi-arrow-right"></i>
                    </a>
                    <a class="btn btn-lg btn-primary" href="{% url 'events' %}">
                        Карьерные мероприятия
                        <i class="bi bi-calendar-event"></i>
                    </a>
                    <a class="btn btn-lg btn-primary mb-3 mb-md-0" href="https://vk.com/personal_ehp" target="_blank">
                        Работа на&nbsp;ЭХП
                        <i class="bi bi-person-fill"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div
                id="carouselExampleControls"
                class="carousel slide"
                data-bs-ride="carousel"
                data-bs-pause="false"
              >
                <div class="carousel-inner rounded">
                  <div class="carousel-item active" data-bs-interval="3500">
                    <img
                      src="{% static 'images/home/5.jpeg' %}"
                      class="carousel-img d-block w-100"
                      alt="Генеральный директор ФГУП &laquo;Комбинат &laquo;Электрохимприбор&raquo; Сергей Жамилов и&nbsp;директор ТИ&nbsp;НИЯУ МИФИ Владимир Рябцун на&nbsp;церемонии открытия Центра Карьеры ГК&nbsp;Росатом"
                    />
                  </div>
                  <div class="carousel-item" data-bs-interval="3500">
                    <img
                      src="{% static 'images/home/6.jpeg' %}"
                      class="carousel-img d-block w-100"
                      alt="Генеральный директор ФГУП &laquo;Комбинат &laquo;Электрохимприбор&raquo; Сергей Жамилов и&nbsp;директор ТИ&nbsp;НИЯУ МИФИ Владимир Рябцун после церемонии открытия Центра Карьеры ГК&nbsp;Росатом"
                    />
                  </div>
                  <div class="carousel-item" data-bs-interval="3500">
                    <img
                      src="{% static 'images/home/7.jpeg' %}"
                      class="carousel-img d-block w-100"
                      alt="Генеральный директор ФГУП &laquo;Комбинат &laquo;Электрохимприбор&raquo; Сергей Жамилов и&nbsp;директор ТИ&nbsp;НИЯУ МИФИ Владимир Рябцун обсуждают вопросы развития Центра карьеры ГК&nbsp;Росатом в&nbsp;кабинете"
                    />
                  </div>
                  <div class="carousel-item" data-bs-interval="3500">
                    <img
                      src="{% static 'images/home/1.jpg' %}"
                      class="carousel-img d-block w-100"
                      alt="Студенты ТИ&nbsp;НИЯУ МИФИ, генеральный директор ФГУП &laquo;Комбинат &laquo;Электрохимприбор&raquo; Сергей Жамилов и&nbsp;директор ТИ&nbsp;НИЯУ МИФИ Владимир Рябцун на&nbsp;общей фотографии после открытия Центра Карьеры ГК&nbsp;Росатом"
                    />
                  </div>
                  <div class="carousel-item" data-bs-interval="3500">
                    <img
                      src="{% static 'images/home/2.jpg' %}"
                      class="carousel-img d-block w-100"
                      alt="Главный исполнительный директор Росатом Алексей Лихачёв во&nbsp;время визита в&nbsp;ТИ&nbsp;НИЯУ МИФИ"
                    />
                  </div>
                  <div class="carousel-item" data-bs-interval="3500">
                    <img
                      src="{% static 'images/home/3.jpg' %}"
                      class="carousel-img d-block w-100"
                      alt="Главный исполнительный директор Росатом Алексей Лихачёв беседует со&nbsp;студентами ТИ&nbsp;НИЯУ МИФИ"
                    />
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</section>

<section class="features py-3 py-sm-5">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-4 text-center">
                <p class="h1 pb-2" style="border-bottom: 1px solid #D7DAE2;">100+</p>
                <p class="subheading">Вакансий</p>
            </div>
            <div class="col-md-4 text-center">
                <p class="h1 pb-2" style="border-bottom: 1px solid #D7DAE2;">20+</p>
                <p class="subheading">Сотрудничающих компаний</p>
            </div>
            <div class="col-md-4 text-center">
                <p class="h1 pb-2" style="border-bottom: 1px solid #D7DAE2;">-</p>
                <p class="subheading">Трудоустроенных</p>
            </div>
        </div>
    </div>
</section>

<section class="content py-3 py-sm-5">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-12 col-lg-6 text-center text-sm-start">
                <div class="mt-2">
                    <span>
                        <i class="bi bi-arrow-right right-arrow d-none d-sm-inline-block"></i>
                        <a href="{% url 'vacancies' %}">
                            ВАКАНСИИ
                        </a>
                    </span>
                    <p class="subheading">Найдите работу своей мечты
                        среды тысяч
                        актуальных вакансий</p>
                </div>
                <div class="mt-2">
                    <span>
                        <i class="bi bi-arrow-right right-arrow d-none d-sm-inline-block"></i>
                        <a href="{% url 'employment' %}">
                            ТРУДОУСТРОЙСТВО
                        </a>
                    </span>
                    <p class="subheading">Получите профессиональную поддержку на&nbsp;всех этапах
                        трудоустройства</p>
                </div>
                <div class="mt-2">
                    <span>
                        <i class="bi bi-arrow-right right-arrow d-none d-sm-inline-block"></i>
                        <a href="{% url 'vacancies' %}?type_of_employment=Практика&type_of_employment=Стажировка">
                            ПРАКТИКИ И&nbsp;СТАЖИРОВКИ
                        </a>
                    </span>
                    <p class="subheading">Получите практический опыт и&nbsp;возможность начать карьеру
                        в&nbsp;ведущих компаниях</p>
                </div>
                <div class="mt-2">
                    <span>
                        <i class="bi bi-arrow-right right-arrow d-none d-sm-inline-block"></i>
                        <a href="{% url 'events' %}">
                            КАРЬЕРНЫЕ МЕРОПРИЯТИЯ
                        </a>
                    </span>
                    <p class="subheading">Присоединяйтесь к&nbsp;вебинарам, мастер-классам и&nbsp;конференциям,
                        чтобы развиваться профессионально.</p>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <img src="{% static 'images/home/content-1.jpg' %}" alt="Александра Дерябина участвует в&nbsp;соревнованиях AtomSkills 2024&nbsp;в компетенции &laquo;Электроника&raquo;" width="580" height="522"
                    class="img-fluid rounded d-none d-lg-block">
            </div>
        </div>
    </div>
</section>

<section class="testimonial py-3 py-sm-5">
    <div class="container">
        <div class="row text-center">
            <h2>Отзывы</h2>
            <div class="heading-container text-center">
                <p class="subheading" style="display: inline-block; max-width: 500px;">Поделитесь своими
                    впечатлениями, расскажите о&nbsp;достижениях и&nbsp;вдохновите других на&nbsp;новые
                    свершения.</p>
            </div>
        </div>
        <div class="row g-2">
            <div class="col-12 col-lg-4">
              <div class="card h-100" style="min-width: 100%">
                <div class="card-body">
                  <div class="d-flex align-items-center mb-3">
                    <img
                      src="{% static 'images/home/review-1.jpg' %}"
                      width="60"
                      height="60"
                      alt="Любовь Головина"
                      style="border-radius: 50%"
                    />
                    <div class="ms-2">
                      <p class="card-title">Любовь Головина</p>
                      <!-- <p class="card-subtitle text-muted">Должность</p> -->
                    </div>
                  </div>
                  <p class="card-text subheading">
                    В&nbsp;настоящее время я&nbsp;прохожу производственную
                    практику на&nbsp;престижном предприятии ФГУП &laquo;Комбинат
                    &laquo;Электрохимприбор&raquo;. У&nbsp;меня есть возможность
                    работать под руководством опытных специалистов, которые
                    делятся своими знаниями и&nbsp;помогают мне развить
                    профессиональные компетенции. Сейчас я&nbsp;учусь
                    в&nbsp;Технологическом институте НИЯУ МИФИ, на&nbsp;целевом,
                    по&nbsp;направлению &laquo;Информатика и&nbsp;вычислительная
                    техника&raquo;, а&nbsp;в&nbsp;дальнейшем планирую работать
                    на&nbsp;комбинате. Я&nbsp;хочу быть частью команды
                    профессионалов!
                  </p>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-4">
              <div class="card h-100" style="min-width: 100%">
                <div class="card-body">
                  <div class="d-flex align-items-center mb-3">
                    <img
                      src="{% static 'images/home/review-2.jpg' %}"
                      alt="Влада Давыдова"
                      width="60"
                      height="60"
                      style="border-radius: 50%"
                    />
                    <div class="ms-2">
                      <p class="card-title">Влада Давыдова</p>
                      <!-- <p class="card-subtitle text-muted">Должность</p> -->
                    </div>
                  </div>
                  <p class="card-text subheading">
                    В&nbsp;настоящее время прохожу производственную практику
                    на&nbsp;ФГУП &laquo;Комбинат &laquo;Электрохимприбор&raquo;.
                    Этот опыт для меня чрезвычайно полезный и&nbsp;насыщенный.
                    Практика позволяет мне глубже понять специфику работы
                    в&nbsp;атомной промышленности и&nbsp;осознать, какой вклад
                    каждый сотрудник вносит в&nbsp;общее дело. Особенно хочется
                    отметить дружелюбную и&nbsp;поддерживающую атмосферу
                    коллектива. Специалисты комбината всегда готовы поделиться
                    своим опытом и&nbsp;оказать помощь, что создает идеальные
                    условия для профессионального роста. Планирую в&nbsp;будущем
                    вернуться на&nbsp;комбинат в&nbsp;качестве полноценного
                    сотрудника. Хочу выразить благодарность руководству
                    ТИ&nbsp;НИЯУ МИФИ и&nbsp;ФГУП &laquo;Комбинат
                    &laquo;Электрохимприбор&raquo; за&nbsp;предоставленную
                    возможность пройти такую ценную практику
                    и&nbsp;за&nbsp;поддержку на&nbsp;этом пути.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-4">
              <div class="card h-100" style="min-width: 100%">
                <div class="card-body">
                  <div class="d-flex align-items-center mb-3">
                    <img
                      src="{% static 'images/home/review-3.jpg' %}"
                      alt="Владимир Крохин"
                      width="60"
                      height="60"
                      style="border-radius: 50%"
                    />
                    <div class="ms-2">
                      <p class="card-title">Владимир Крохин</p>
                      <!-- <p class="card-subtitle text-muted">Должность</p> -->
                    </div>
                  </div>
                  <p class="card-text subheading">
                    На&nbsp;практике я&nbsp;столкнулся с&nbsp;решением насущных
                    проблем, связанных с&nbsp;импортозамещением&nbsp;ПО:
                    принимал участие в&nbsp;миграции с&nbsp;системы управления
                    базами данных MS&nbsp;SQL на&nbsp;PostgreSQL. Кроме того,
                    занимался разработкой служебного приложения размещения
                    сканов архивных документов на&nbsp;файловой системе АРМ.
                    Практика помогла мне найти применение знаниям, которые
                    я&nbsp;получил в&nbsp;стенах родного института.
                  </p>
                </div>
              </div>
            </div>
          </div>
    </div>
</section>

<section class="faq py-3 py-sm-5">
    <div class="container">
        <div class="row">
            <div class="col-md-5 text-center text-md-start">
                <h2 class="fw-bold display-4">Часто задаваемые вопросы</h2>
            </div>
            <div class="col-md-7">
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseOne">
                                Будут&nbsp;ли мне платить зарплату?
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <p class="subheading">
                                    Да, работа каждого стажёра оплачивается. Зарплата зависит
                                    от&nbsp;фактического времени работы.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseTwo">
                                Сколько длится стажировка?
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse show"
                            aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <p class="subheading">
                                    Минимально стажировка рассчитана на&nbsp;3&nbsp;месяца. Бывают программы
                                    и&nbsp;большей продолжительности. Срок определяется из&nbsp;твоего графика
                                    и&nbsp;специфики направления.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseThree">
                                Что будет, когда стажировка закончится?
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <p class="subheading">
                                    Лучшим стажёрам мы&nbsp;предлагаем заключить бессрочный
                                    контракт&nbsp;&mdash; устроиться на&nbsp;постоянную работу в&nbsp;нашу
                                    отрасль.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseFour">
                                Что нужно уметь стажеру?
                            </button>
                        </h2>
                        <div id="flush-collapseFour" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <p class="subheading">
                                    Требования зависят от&nbsp;направления.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}